---
layout: default
title: "Blog"
---
<div>
  <h1 style="font-size: 24px; margin-bottom: 0;">Blog</h1>
  <a href="/feed.xml" style="margin-top: 0;">RSS feed</a>
  <div id="blog-archives">
    {% for post in site.posts %}
      <article class="post" style="margin-top: 15px;">
          <h2 style="font-size: 14pt; margin: 0 0 0 0;"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="meta"><span class="postdate">{{ post.date | date: "%b %d, %Y" }}</span></p>
          {% if post.summary %}
            <p>{{ post.summary }}</p>
          {% endif %}
          {% if post.img %}
            <img src="{{ post.img }}" width=600 />
          {% endif %}
      </article>
    {% endfor %}
  </div>
</div>