<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="preload" href="/assets/fonts/JetBrainsMono-VariableFont_wght.ttf" as="font" type="font/ttf"
    crossorigin="anonymous">
  <meta name="viewport" content="width=device-width">
  <link rel="preload" href="/assets/images/background.webp" as="image">
  <link href="/assets/css/style.css" rel="stylesheet">
  {% seo title=false %}
  <title>{% if page.name != "index.md" %}{{page.title}} | {% endif %}{{site.name}}</title>
</head>

<body>
  <div id="page">
    <header id="header_top">
      <a href="/">
        <h1>{{ site.name }}</h1>
      </a>
    </header>
    <div id="sidebar">
      <nav class="menu">
        <ul class="menu">
          <li class="menu"><a href="/blog">Blog</a></li>
          <li class="menu"><a href="/projects">Projects</a></li>
          <li class="menu"><a href="/about.html">About</a></li>
        </ul>
      </nav>

      <footer id="footer_top">
      {% include webring.html %}
        <details>
          <summary>GPG key info</summary>
          <br>
          <p>
            <a href="/key.asc">key.asc</a><br>
            Key ID (sign): <code>2F16FBF3262E090C</code><br>
            Key ID (encrypt): <code>75D13F197C64C9B2</code><br>
            Fingerprint: <code>5F8E 8C32 261C 2CA7 D680 792D D146 2CE6 C2FF 77CE</code>
          </p>
          <br>
        </details>
        <p class="copyright">All content copyright Ivan Bushchik.</p>
        <!-- commit_id may be filled during build -->
        {% if site.commit_id %}<p class="copyright">Built from <a
            href="https://github.com/ivabus/website/commit/{{ site.commit_id }}">{{ site.commit_id | slice: 0,7 }}</a>
        </p>
        {% endif %}
      </footer>
    </div>
    <header id="header_bottom">
      <a href="/">
        <h1>{{ site.name }}</h1>
      </a>
    </header>
    <div id="content">
      {{ content }}
    </div>

    <footer id="footer_bottom">
      <div style="text-align: center">{% include webring.html %}</div>
      <details>
        <summary>GPG key info</summary>
        <br>
        <p>
          <a href="/key.asc">key.asc</a><br>
          Key ID (sign): <code>2F16FBF3262E090C</code><br>
          Key ID (encrypt): <code>75D13F197C64C9B2</code><br>
          Fingerprint: <code>5F8E 8C32 261C 2CA7 D680 792D D146 2CE6 C2FF 77CE</code>
        </p>
        <br>
      </details>
      <p class="copyright">All content copyright Ivan Bushchik.</p>
      <!-- commit_id may be filled during build -->
      {% if site.commit_id %}<p class="copyright">Built from <a
          href="https://github.com/ivabus/website/commit/{{ site.commit_id }}">{{ site.commit_id | slice: 0,7 }}</a></p>
      {% endif %}
    </footer>
  </div>
</body>

</html>